{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="{% static 'main.css' %}">
<body>

<div class="header">
    <img src="{% static "envios.jpg"%}" alt="envios">
    <h1>Envios Todo el Mundo</h1>
</div>

<div class="topnav">
  <a href="/main/">HOME</a>
  <a href="clients/">MY CLIENTS</a>
  <a href="history/">HISTORY </a>
</div>
 <h1>Welcome put your content here</h1>
</body>
</html>